<link rel='stylesheet' href='https://cdn.statically.io/gh/dependabot-pr/Static-Files/main/style.css' />
<a href="../../index.html" class="btn-accent green blk">Back</a>

<div id="conv" style="user-select: all; margin-top: 50px;"></div>

<script>
    const URL = 'https://script.google.com/macros/s/AKfycbzIb-cFk3OjDH5bugT-f-xz-hiSRyQbtpPvSVy-24DHt3KTxKYPqiRUywHlj1EPksoMQA/exec'

    fetch(URL)
        .then((response) => response.json())
        .then((data) => {
            console.log("success!");

            const recValues = data.rsss;

            // split val  by ,
            const rVal = recValues.map((item) => {
                return {
                    item: item.split('|||')
                }
            })

            const rVal2 = rVal.map((item) => {
                return {
                    date: item.item[0],
                    score: item.item[1],
                }
            })

            const rVal3 = rVal2.map((item) => {
                return {
                    date: item.date,
                    total: parseInt(item.score) + 20,
                    details: [
                        {
                            name: "Score",
                            value: parseInt(item.score) + 20
                        }
                    ]
                }
            })


            const finalVal1 = rVal3.filter((item) => {
                item.score === NaN ? false : true
                return 'none'
            })

            // dont return anything
            const finalVal = rVal3.filter((item) => {
                return item.date === '1899-12-30' ? false : true
            })

            console.log(rVal);

            const conv = document.getElementById('conv');
            // convert it in this format 
            // { "date": "2022-12-09", "total": 2, "details": [{ "name": "Check in", "value": 2 }, { "name": "Score", "value": -3 }] },

            finalVal.forEach((item) => {
                conv.innerHTML += `{"date": "${item.date}", "total": ${item.total}, 
            "details": [
                { "name": "${item.details[0].name}", "value": ${item.details[0].value} }, 
            ] },<br/>`
            })
        });


</script>