<link rel='stylesheet' href='https://cdn.statically.io/gh/dependabot-pr/Static-Files/main/style.css' />
<a href="../../index.html" class="btn-accent green blk">Back</a>

<!-- ajax cdn -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div id="wakatime" style="user-select: all; margin-top: 50px;"></div>

<script src="../js/wakatime.js"></script>
<script>
  arr = []

  // $.ajax({
  //   type: 'GET',
  //   url: 'https://wakatime.com/share/@pratikkabade/49c272b8-98b0-42fc-b63a-eefbce05898d.json',
  //   dataType: 'jsonp',
  //   success: function (response) {
  //     console.log(response.data);
  //   },
  // });


  // function read_one() {
  //   fetch('https://wakatime.com/share/@pratikkabade/49c272b8-98b0-42fc-b63a-eefbce05898d.json')
  //     .then((response) => response.json())
  //     .then((data) => {
  //       for (let i = 0; i < data.length; i++) {
  //         console.log("success!");
  //       }
  //     });
  // }
  // read_one()

  const URL = 'https://wakatime.com/share/@pratikkabade/49c272b8-98b0-42fc-b63a-eefbce05898d.json'

  fetch(URL)
    .then(response => response.json())
    .then(data => console.log(data))


  // fetch(URL)
  //   .then((response) => response.json())
  //   .then((data) => {
  //     for (let i = 0; i < data.length; i++) {
  //       console.log("success!");
  //     }
  //   });



  var wakatimeData = wk.days


  for (var i = 0; i < wakatimeData.length; i++) {
    arr.push('{"date": "' + wakatimeData[i].date + '", "total": ' + wakatimeData[i].total + ', "details": [{ "name": "Coding", "value":' + wakatimeData[i].total + '}]' + '}')
  }

  var wakatimeid = document.getElementById("wakatime");
  wakatimeid.innerHTML = arr;

</script>